## Credits
This project was inspired by the Titanic competition solution by [ashishpatel26](https://github.com/ashishpatel26/Titanic-Machine-Learning-from-Disaster).
I followed the code for educational purposes and made some small modifications to better understand the machine learning workflow.

In [29]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [30]:
train_original = pd.read_csv('../data/train.csv')
test_original = pd.read_csv('../data/test.csv')
train=train_original.copy()
test=test_original.copy()

In [31]:
train=train.rename(columns={'SibSp':'Sibling&Spouses','Parch':'Parents&Children'})
test=test.rename(columns={'SibSp':'Sibling&Spouses','Parch':'Parents&Children'})

In [32]:
print(train.isna().sum())
print(test.isna().sum())

PassengerId           0
Survived              0
Pclass                0
Name                  0
Sex                   0
Age                 177
Sibling&Spouses       0
Parents&Children      0
Ticket                0
Fare                  0
Cabin               687
Embarked              2
dtype: int64
PassengerId           0
Pclass                0
Name                  0
Sex                   0
Age                  86
Sibling&Spouses       0
Parents&Children      0
Ticket                0
Fare                  1
Cabin               327
Embarked              0
dtype: int64

In [33]:
print(train.shape)
print(test.shape)

(891, 12)
(418, 11)

In [34]:
train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 12 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   PassengerId       891 non-null    int64
 1   Survived          891 non-null    int64
 2   Pclass            891 non-null    int64
 3   Name              891 non-null    object
 4   Sex               891 non-null    object
 5   Age               714 non-null    float64
 6   Sibling&Spouses   891 non-null    int64
 7   Parents&Children  891 non-null    int64
 8   Ticket            891 non-null    object
 9   Fare              891 non-null    float64
 10  Cabin             204 non-null    object
 11  Embarked          889 non-null    object
dtypes: float64(2), int64(5), object(5)
memory usage: 83.7+ KB

In [35]:
test.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 418 entries, 0 to 417
Data columns (total 11 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   PassengerId       418 non-null    int64
 1   Pclass            418 non-null    int64
 2   Name              418 non-null    object
 3   Sex               418 non-null    object
 4   Age               332 non-null    float64
 5   Sibling&Spouses   418 non-null    int64
 6   Parents&Children  418 non-null    int64
 7   Ticket            418 non-null    object
 8   Fare              417 non-null    float64
 9   Cabin             91 non-null     object
 10  Embarked          418 non-null    object
dtypes: float64(2), int64(4), object(5)
memory usage: 36.1+ KB